<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
  <body>

    <div class="jumbotron">
      <h1>Purde Lab Stats</h1>

        <p>Welcome</p>

       <% console.log(debug); %>
       <% if (user != undefined) { %>
          <p><%= user %></p>
       <% } else {%>
          <p>not logged in</p>
          <%= signInUrl %>
       <% } %>
       
        <a class="btn btn-primary btn-large" href="<%= signInUrl %>">Click here to login</a>

        <ul>
            <% rooms.forEach((room) => { %>
                <!--
                    List of all labs for that building
                    Links to each room page
                    Avaliablity [class in session, full, open]
                -->
                <li><a href="/<%= room.abbrev %>/<%= room.room_number %>"><%= room.room_number %></a></li>
            <% }) %>
            </ul>
     
    </div>

  </body>
</html>
