<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
  </head>

  <body class="container">

    <header>
      <% include ./partials/header %>
    </header>

    <main>
           
      <div class="jumbotron">
        <div align="center">
            <img class="headImg" src="purduecs.gif">
            <h1>PURDUE LAB STATS</h1>
              <p style="font-size:125%;">All instructional lab information can be viewed below. Select a room to view more details and a full list of machines. </p>
            </div>

        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>

        <table class="table table-bordered" id="myTable">
          <thead>
            <tr >
              <% if (user) { %>
                <th scope="col" onclick="sortTable(0)">Favorite</th>
                <th scope="col" onclick="sortTable(1)">Building</th>
                <th scope="col" onclick="sortTable(2)">Room</th>
                <th scope="col" onclick="sortTable(3)">Email</th>
                <th scope="col" onclick="sortTable(4)">Machine Name</th>
                <th scope="col" onclick="sortTable(5)">OS</th>
                <th scope="col" onclick="sortTable(6)">Availability</th>
                <th scope="col" onclick="sortTable(7)">Machines in Use</th>
              <% } else { %>
                <th scope="col" onclick="sortTable(0)">Building</th>
                <th scope="col" onclick="sortTable(1)">Room</th>
                <th scope="col" onclick="sortTable(2)">Machine Name</th>
                <th scope="col" onclick="sortTable(3)">OS</th>
                <th scope="col" onclick="sortTable(4)">Availability</th>
                <th scope="col" onclick="sortTable(5)">Machines in Use</th>
              <% } %>


            </tr>
          </thead>
          <tbody id="myTable2">
            <% rows.forEach((row, idx) => { %>

                <tr class='clickable-row room-table' data-href='/<%= row.abbrev %>/<%= row.room_number %>'>
                  <% if (user) { %>

                    <% if (row.favorited == 1) { %>
                      <td class='favorite' style="color:#c28e0e">
                        <div class='centered'>
                          <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:#c28e0e">
                          </span>
                        </div>
                      </td>
                    <% } else { %>
                      <td class='favorite' style="color:black">
                        <div class='centered'>
                          <span class="glyphicon glyphicon-star" aria-hidden="true" style="visibility:none" style="color:black">
                          </span>
                        </div>
                      </td>
                    <% } %>
                      <td><a href='/<%= row.abbrev %>'><%= row.abbrev %></a></td>
                    <td class='room'><a href='/<%= row.abbrev %>/<%= row.room_number %>'><%= row.room_number %></a></td>
                     <td class='email'>
                        <div class='centered'>
                          <% if (row.occurances == 0) { %>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color:#bbbbbb"></span>
                          <% } else { %>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color:#c28e0e" type="button" data-toggle="modal" data-target="#myModalRoom<%= idx %>"></span>
                          <% }%>
                          
                        </div>

                        <div id="myModalRoom<%= idx %>" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">
                                          Send email to all lab users!
                                      </h4>
                                  </div>
                                  <div class="modal-body">
                                      <form action="/send-email" method="post" class="reused_form">
                                          <p style="font-size: 125%;"> Send your message to all the lab users in the form below. </p>
                                          <div class="form-group">
                                              <label for="subject"> Subject:</label>
                                              <input type="text" class="form-control" id="subject" name="subject" required maxlength="50">
                                              <input type = 'hidden' name='room' value=<%= row.room_number %>>
                                          </div>
                                          <!-- <div class="form-group">
                                              <label for="to"> Send to:</label>
                                              <input type="email" class="form-control" id="to" name="to" required maxlength="50">
                                          </div> -->
                                          <div class="form-group">
                                              <label for="body"> Message:</label>
                                              <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
                                          </div>
                                          <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Post It! &rarr;</button>
                                      </form>
                                      <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
                                      <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                    </td>
                    <td><%= row.machine_name %></td>
                    <td><%= row.OS %></td>
                    <td class="availability"></td>
                    <td class="occupants">
                      <div class="progress" style="height: 20px;">

                        <% if ((parseFloat(row.occurances) / parseFloat(row.capacity) * 100) < 33) { %>

                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= row.occurances %>"
                          aria-valuemin="0" aria-valuemax="<%= row.capacity %>" style="width: <%= parseFloat(row.occurances) / parseFloat(row.capacity) * 100 %>%">
                          <span><%= row.occurances %> of <%= row.capacity %></span>
                          </div>
                        <% } else if ((parseFloat(row.occurances) / parseFloat(row.capacity) * 100) >= 33 && (parseFloat(row.occurances) / parseFloat(row.capacity) * 100) < 66) { %>

                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= row.occurances %>"
                          aria-valuemin="0" aria-valuemax="<%= row.capacity %>" style="width: <%= parseFloat(row.occurances) / parseFloat(row.capacity) * 100 %>%">
                          <span><%= row.occurances %> of <%= row.capacity %></span>
                          </div>

                        <% } else { %>  

                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= row.occurances %>"
                          aria-valuemin="0" aria-valuemax="<%= row.capacity %>" style="width: <%= parseFloat(row.occurances) / parseFloat(row.capacity) * 100 %>%">
                          <span><%= row.occurances %> of <%= row.capacity %></span>
                          </div>

                        <% } %>

                      </div>
                    </td>
                  <% } else { %>
                    <td><a href='/<%= row.abbrev %>'><%= row.abbrev %></a></td>
                    <td class='room'><a href='/<%= row.abbrev %>/<%= row.room_number %>'><%= row.room_number %></a></td>
                    <td><%= row.machine_name %></td>
                    <td><%= row.OS %></td>
                    <td class="availability"></td>
                    <td class="occupants">

                      <div class="progress" style="height: 20px;">

                        <% if ((parseFloat(row.occurances) / parseFloat(row.capacity) * 100) < 33) { %>

                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= row.occurances %>"
                          aria-valuemin="0" aria-valuemax="<%= row.capacity %>" style="width: <%= parseFloat(row.occurances) / parseFloat(row.capacity) * 100 %>%">
                          <span><%= row.occurances %> of <%= row.capacity %></span>
                          </div>
                        <% } else if ((parseFloat(row.occurances) / parseFloat(row.capacity) * 100) >= 33 && (parseFloat(row.occurances) / parseFloat(row.capacity) * 100) < 66) { %>

                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= row.occurances %>"
                          aria-valuemin="0" aria-valuemax="<%= row.capacity %>" style="width: <%= parseFloat(row.occurances) / parseFloat(row.capacity) * 100 %>%">
                          <span><%= row.occurances %> of <%= row.capacity %></span>
                          </div>

                        <% } else { %>  

                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= row.occurances %>"
                          aria-valuemin="0" aria-valuemax="<%= row.capacity %>" style="width: <%= parseFloat(row.occurances) / parseFloat(row.capacity) * 100 %>%">
                          <span><%= row.occurances %> of <%= row.capacity %></span>
                          </div>

                        <% } %>

                      </div>
                      
                    </td>
                  <% } %>

                </tr>

            <% }) %>

          </tbody>
        </table>


        <% if (user) { %>
          <script>
            $(document).ready(function() {
              sortTable(0);
            });
          </script>
        <% } %>


        <script>


        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable2 tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

        $(document).ready(function() {
          var availability = "";
          var roomTable = $(".room-table");
          roomTable.each(async (idx, row) => {
            var room = $(row).find('.room').text();
            var occupants = $(row).find(".occupants").text();
            var res = occupants.trim().split(" of ")

            if (res[0] == res[1]) {
              availability = "Full";
              $(row).find('.availability').text(availability);
              return
            }

            var data = {
              room: room,
            }

            await $.ajax({
              type: "POST",
              url: '/rooms/availability',
              data: data,
              dataType: 'json',
              success: function(data) {
                availability = data.availability;
                $(row).find('.availability').text(availability);
              },
            });
            $(row).find('.availability').text(availability);
          });
        });

        $('.email').click(function() {
          //event.stopPropagation();
        });

        $(".favorite").click(function() {

          var $row = $(this).closest("tr");    // Find the row
          var $text = $row.find(".room").text(); // Find the text

          var color = $(this).find('.glyphicon').css("color");
          var fav = 0;

          if (color == "rgb(194, 142, 14)") {
            $(this).find('.glyphicon').css("color", "#000000");
            fav = 0;
          } else {
            $(this).find('.glyphicon').css("color", "#c28e0e");
            fav = 1;
          }
          
          var $data = {
            room: $text,
            favorite: fav // this variable is dependent on the color
          }

          $.ajax({
            type: "POST",
            url: '/favorite/addFavorite',
            data: $data,
            success: null,
            dataType: null
          });
          event.stopPropagation();

        });



        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("myTable");
          switching = true;
          //Set the sorting direction to ascending:
          dir = "asc";
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              console.log("x: " + x.innerHTML);
              console.log("y: " + y.innerHTML);
              /*check if the two rows should switch place,
              based on the direction, asc or desc:*/
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  //if so, mark as a switch and break the loop:
                  shouldSwitch= true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  //if so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              //Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /*If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again.*/
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }


        $(function(){
          $('.reused_form').submit(function(e) {
            
              //e.preventDefault();
              console.log("submitted");
              console.log(e);

              $('.reused_form').hide();
              $('#success_message').show();
              $('#error_message').hide();
          });
        });
          
         

        </script>
    </main>

    <footer>
      <% include ./partials/footer %>
    </footer>

  </body>

</html>
