<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h1><%= building %></h1>
        <p><%= machine.name %></p>
        <p>CPU: <%= machine.CPU %></p>
        <p>RAM: <%= machine.RAM %></p>
        <p>OS: <%= machine.OS %></p>
        <p>Monitor: <%= machine.monitor %></p>
        <p>Printer: <%= machine.printer_id %></p>

    </div>
</main>

<footer>
</footer>

</body>
</html>