<!-- views/room.ejs -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <% include ./partials/header %>
  </head>

  <body class="container">


<main>
    <div class="jumbotron">
        <h1><%= building + " " + room.room_number %>
          
        
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalRoom">Email to everyone in this lab room</button>
       
        </h1>
          <div id="myModalRoom" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            Send Email to lab user!
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form action="/send-email" method="post" id="reused_form">
                            <p> Send your message to the lab user in the form below. </p>
                            <div class="form-group">
                                <label for="subject"> Name:</label>
                                <input type="text" class="form-control" id="subject" name="subject" required maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="from"> Your Email:</label>
                                <input type="email" class="form-control" id="from" name="from" required maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="to"> Send to:</label>
                                <input type="email" class="form-control" id="to" name="to" required maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="body"> Message:</label>
                                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Post It! &rarr;</button>
                        </form>
                        <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Sent your message successfully!</h3> </div>
                        <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
                    </div>
                </div>
            </div>
        </div>
          <p id="demo"></p>
        

        <p>Avaliablity: <%= avaliablity %></p>
        <ul>

          <table class="table table-bordered">
            <thead>
              <tr>

                <th scope="col">Machine</th>


              </tr>
            </thead>
            <tbody>



              <% machines.forEach((machine) => { %>
              <tr>

                <td><a href="/<%= building %>/<%= room.room_number %>/<%= machine.name %>"><%= machine.name %></a></td>

              </tr>

              <% }) %>
        </ul>


</tbody>
</table>

<div>
  <div class="halfer">
    <div class="responsiveCal">
      <iframe
        src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= room.google_calender_id %>&amp;color=%23182C57&amp;ctz=America%2FNew_York"
        style="border-width:0"
        frameborder="0"
        width="600" height="450"
        scrolling="no"></iframe>
    </div>
  </div>
  <div class="halfer">
    <div class="responsiveParent">
      <img
        src="https://www.cs.purdue.edu/cams-delayed/<%= building + room.room_number %>.jpg"
        class="responsiveImg"></img>
    </div>
  </div>
</div>



</div>
</main>

<footer>
  <% include ./partials/footer %>
</footer>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Email button clicked";
}
</script>

</body>
</html>
