<!-- views/room.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h1><%= building + " " + room.room_number %></h1>
        <p>Avaliablity: <%= avaliablity %></p>
        <ul>

        <table class="table table-bordered">
          <thead>
            <tr>
              
              <th scope="col">Machine</th>

              
            </tr>
          </thead>
          <tbody>
          
            
            
            <% machines.forEach((machine) => { %>
              <tr>

                <td><a href="/<%= building %>/<%= room.room_number %>/<%= machine.name %>"><%= machine.name %></a></td>

              </tr>

            <% }) %>
            </ul>

          
          </tbody>
        </table>


        <% machines.forEach((machine) => { %>
            <!--
                List of all machines for that room
            -->
            <li><a href="/<%= building %>/<%= room.room_number %>/<%= machine.name %>"><%= machine.name %></a></li>   
        <% }) %>
        </ul>
        
        <iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=<%= room.google_calender_id %>&amp;color=%23182C57&amp;ctz=America%2FNew_York" 
        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

        <img src="https://www.cs.purdue.edu/cams-delayed/<%= building + room.room_number %>.jpg"></img>

        <a href="https://www.cs.purdue.edu/cams-delayed/<%= building + room.room_number %>.jpg" target="_blank">Open cam in new tab</a>

    </div>
</main>

<footer>
  <% include ./partials/footer %>
</footer>

</body>
</html>





